
@{
    ViewBag.Title = "TableData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary" data-collapsed="0">
            <div class="panel-body">
                @using (Html.BeginForm("ImportExcel", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-groups-bordered" }))
                {
                    <div class="form-group">
                        <label for="files" class="col-sm-3 control-label">Choose File</label>

                        <div class="col-sm-5">
                            <input type="file" name="files" id="files" class="form-control" id="field-file" placeholder="Placeholder">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="RowData" class="col-sm-3 control-label">Start Row Index</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="RowData" name="RowData" value="8" placeholder="excel bắt đầu từ dòng">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Offset" class="col-sm-3 control-label">Offset</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="Offset" name="Offset" value="0" placeholder="offset">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Exclude" class="col-sm-3 control-label">Exclude Diameters</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="Exclude" name="Exclude" value="12" placeholder="offset">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                            <button type="submit" class="btn btn-success">Nhập</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


