@using BusinessObject.WebModule.Models.Config
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var contact = ViewBag.Contact as ContactConfigModel;
    var seo = ViewBag.SEO as SEOConfigModel;
    var website = ViewBag.Website as WebsiteConfigModel;
}

<h2>Cấu hình</h2>

<div class="row">

    <div class="col-md-12">

        <div class="tabs-vertical-env">

            <ul class="nav tabs-vertical">
                <li class="active"><a href="#v-website" data-toggle="tab">Website</a></li>
                <li><a href="#v-contact" data-toggle="tab">Liên hệ</a></li>
                <li><a href="#v-seo" data-toggle="tab">SEO</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="v-website">
                    <div class="panel panel-primary">
                        @Html.Partial("WebsiteConfig", website)
                    </div>
                </div>
                <div class="tab-pane" id="v-contact">
                    <div class="panel panel-primary">
                        @Html.Partial("ConfigContact", contact)
                    </div>
                </div>
                <div class="tab-pane" id="v-seo">
                    <div class="panel panel-primary">
                        @Html.Partial("SEOConfig", seo)
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>