<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="MetroMembershipEntities" connectionString="metadata=res://*/EF.MetroMembership.csdl|res://*/EF.MetroMembership.ssdl|res://*/EF.MetroMembership.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=203.162.69.168,1433;initial catalog=Membership;persist security info=True;user id=sa;password=@abc123@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WebEntities" connectionString="metadata=res://*/EF.Web.csdl|res://*/EF.Web.ssdl|res://*/EF.Web.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=45.119.82.199;initial catalog=Phystones;user id=mamamia;password=@m@mmami#-1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>