<!doctype html>
<!--[if lt IE 7]>
<html class="lt-ie10 lt-ie9 lt-ie8 lt-ie7 no-js" lang="en">
   <![endif]-->
<!--[if IE 7]>
<html class="lt-ie10 lt-ie9 lt-ie8 no-js" lang="en">
   <![endif]-->
<!--[if IE 8]>
<html class="lt-ie10 lt-ie9 no-js" lang="en">
   <![endif]-->
<!--[if IE 9]>
<html class="lt-ie10 no-js" lang="en">
   <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Theme/web/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Theme/web/assets/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/Theme/web/assets/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Content/Theme/web/assets/js/jquery-3.2.1.min.js"></script>
    <!--[if lte IE 10]>
    <link href="~/Content/Theme/web/assets/css/ie.css" type="text/css" rel="stylesheet" media="screen" />
    <![endif]-->
    <!--[if lte IE 8]>
    <script src="~/Content/Theme/web/assets/js/respond.js"></script>
    <![endif]-->
    <script type="text/javascript" src="~/Content/Theme/web/assets/js/modernizr6cb0.js"></script>
    <script src="~/Content/Theme/web/assets/js/bootstrap.min.js"></script>
    <!-- Icons -->
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/Theme/web/assets/css/Responsive.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body class="">
    <div id="page-border">
        <div id="wrap" class="container">
            @{Html.RenderPartial("_Head_Web");}
            @RenderBody()
            @{Html.RenderPartial("_Footer_Web");}
        </div>
        <!-- /#wrap -->
        <!-- Arrow to top -->
        <a href="#" id="to-top" class="icon-box">
            <i class="ss-icon ss-standard">&#xF500;</i>
        </a>
        <!-- Modal markup -->
        <div id="modal-overlay"></div>
        <div id="modal-wrap" class="clearfix">
            <div class="vertical-center"></div>
            <div id="modal" class="grid-14 center">
                <div id="modal-content" class="clearfix">
                    <div class="grid-14 alpha omega">
                        <!-- Title -->
                        <h2></h2>
                        <!-- Tagline -->
                        <h3 class="tagline h4"></h3>
                    </div>
                    <!-- Body column 1 -->
                    <div class="grid-7 alpha"></div>
                    <!-- Body column 2 -->
                    <div class="grid-7 omega"></div>
                    <!-- UI Controls -->
                    <a href="#" id="modal-close" class="ss-icon ss-standard">&#x2421;</a>
                    <a href="#" id="modal-left">
                        <i class="ss-icon ss-standard">&#x25C5;</i>
                    </a>
                    <a href="#" id="modal-right">
                        <i class="ss-icon ss-standard">&#x25BB;</i>
                    </a>
                </div>
                <div id="modal-footer" class="clearfix">
                    <!-- Footer column 1 -->
                    <div class="grid-7 alpha"></div>
                    <!-- Footer column 2 -->
                    <div class="grid-7 omega"></div>
                </div>
            </div>
        </div>
        <div id="ie6">
        </div>
    </div>
    <script type="text/javascript" src="~/Content/Theme/web/assets/js/mootools-core6cb0.js"></script>
    <script type="text/javascript" src="~/Content/Theme/web/assets/js/mootools-more6cb0.js"></script>
    <script type="text/javascript" src="~/Content/Theme/web/assets/js/plugins6cb0.js"></script>
    <script type="text/javascript" src="~/Content/Theme/web/assets/js/main6cb0.js"></script>
    <script type="text/javascript" src="~/Content/Theme/web/assets/js/raphael6cb0.js"></script>
    <script type="text/javascript" src="~/Content/Theme/web/assets/js/infographics6cb0.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.tmpl.min.js"></script>
    <script src="~/Scripts/MyScript.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
