@using KaraSys.Models.Config
@using KaraSys.Models.ContentData
@model ContactConfigModel

<ul class="list-icon-items clearfix">
    <li class="grid-4 alpha subsection">
        <a href="planner.html" class="display-block" title="Proposal planner">
            <i class="circ secondary ss-icon ss-standard">&#x1F4DD;<i class="circ pulse"></i></i>
            <h3>Project planner</h3>
            <p class="colour-body">Interested in working with us? Launch our proposal planner to get started.</p>
            <p class="button tertiary display-inline-block">Launch it</p>
        </a>
    </li>
    <li class="grid-4 subsection">
        <a href="contact.html" title="Connect"><i class="circ secondary ss-icon ss-standard">&#x1F4AC;<i class="circ pulse"></i></i></a>
        <h3>Connect</h3>
        <ul class="list-plain list-regular">
            <li>@Model.Phone</li>
            <li>
                <a class="has-border">
                    <span class="__cf_email__">@Model.Email</span>
                </a>
            </li>
            <li><a href="@Model.Twitter" class="has-border">Follow us on Twitter</a></li>
        </ul>
    </li>
    <li class="grid-4 omega subsection">
        <i class="circ secondary ss-icon ss-standard">&#xEDA0;</i>
        <h3>Newsletter</h3>
        <p>Enter your email address below to receive occasional updates.</p>
        <form id="newsletter-signup" action="" method="post">
            <div class="input-wrap">
                <input type="text" name="email" placeholder="Your email address" />
                <button type="submit">
                    <i class="ss-icon ss-standard">&#x25BB;</i>
                </button>
            </div>
        </form>
    </li>
</ul>
<footer class="subsection">
    <p>
        Copyright &copy; 2006 - 2017 <a>Built by @Model.HostName </a> Limited. All rights reserved.<br />
        Registered in England Company No. 06048231 VAT Registration No. 899 6307 54
    </p>
    <p>
        <a href="">Read the boring legal stuff</a>
    </p>
</footer>
