

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
Source/Admin/Framework/BussinessObject/bin/
Source/Admin/MyAdmin/MyAdmin/bin/
Source/Admin/Framework/Logger/bin/
Source/Admin/Framework/MyCache/bin/
Source/Admin/Framework/MyUtility/bin/
Source/Admin/Framework/WebUtility/bin/
Source/Admin/Framework/WebUtility/obj/
Source/Admin/Framework/MyUtility/obj/
Source/Admin/Framework/MyCache/obj/
Source/Admin/Framework/Logger/obj/
Source/Admin/Framework/Inside/EntitiesObject/obj/
Source/Admin/Framework/Inside/DataAccess/obj/
Source/Admin/Framework/Inside/BusinessObject/bin/
Source/Admin/Framework/Inside/EntitiesObject/bin/
Source/Admin/Framework/Inside/DataAccess/bin/
Source/Admin/Framework/BussinessObject/obj/
Source/Admin/Framework/DataAccessRedis/bin/
Source/Admin/Framework/DataAccess/bin/
Source/Admin/Framework/DataAccess/obj/
Source/Admin/Framework/DataAccessRedis/obj/Debug/DataAccessRedis.dll
Source/Admin/Framework/EntitiesObject/bin/
Source/Admin/Framework/EntitiesObject/obj/
Source/Admin/Framework/Inside/BusinessObject/obj/
Source/Admin/MyAdmin/MyAdmin/obj/
Source/Admin/MyAdmin/MyAdmin/App_Data/
Source/Admin/MyAdmin/MyConfig/bin/
Source/Admin/MyAdmin/MyConfig/obj/
Source/SiteCty.rar
Source/PhystonesWebsite/Framework/BussinessObject/bin/
Source/PhystonesWebsite/Framework/BussinessObject/obj/
Source/PhystonesWebsite/Framework/DataAccess/bin/
Source/PhystonesWebsite/Framework/DataAccess/obj/
Source/PhystonesWebsite/Framework/DataAccessRedis/obj/
Source/PhystonesWebsite/Framework/DataAccessRedis/bin/
Source/PhystonesWebsite/Framework/EntitiesObject/bin/
Source/PhystonesWebsite/Framework/EntitiesObject/obj/
Source/PhystonesWebsite/Phystones/Phystones/App_Data/Excel/
Source/PhystonesWebsite/Phystones/Phystones/Logs/
Source/PhystonesWebsite/Phystones/Phystones/bin/
Source/PhystonesWebsite/Phystones/Phystones/obj/
Source/PhystonesWebsite/Phystones/MyConfig/bin/
Source/PhystonesWebsite/Phystones/MyConfig/obj/
Source/PhystonesWebsite/Framework/Logger/bin/
Source/PhystonesWebsite/Framework/Logger/obj/
Source/PhystonesWebsite/Framework/MyCache/bin/
Source/PhystonesWebsite/Framework/MyCache/obj/
Source/PhystonesWebsite/Framework/MyUtility/bin/
Source/PhystonesWebsite/Framework/MyUtility/obj/
Source/PhystonesWebsite/Framework/packages/
Source/KaraSys/Framework/BussinessObject/bin/
Source/KaraSys/Framework/BussinessObject/obj/
Source/KaraSys/Framework/DataAccess/bin/
Source/KaraSys/Framework/DataAccess/obj/
Source/KaraSys/Framework/DataAccessRedis/obj/Debug/DataAccessRedis.csproj.FileListAbsolute.txt
Source/KaraSys/Framework/DataAccessRedis/obj/
Source/KaraSys/Framework/EntitiesObject/bin/
Source/KaraSys/Framework/EntitiesObject/obj/Debug/EntitiesObject.csproj.FileListAbsolute.txt
Source/KaraSys/Framework/EntitiesObject/obj/
Source/KaraSys/Framework/Logger/bin/
Source/KaraSys/Framework/Logger/obj/
Source/KaraSys/Framework/MyCache/obj/
Source/KaraSys/Framework/MyCache/bin/
Source/KaraSys/Framework/MyUtility/obj/
Source/KaraSys/Framework/MyUtility/bin/
Source/KaraSys/Framework/packages/
Source/KaraSys/KaraSys/KaraSys/bin/
Source/KaraSys/KaraSys/KaraSys/obj/
Source/PhystonesWebsite/Phystones/Phystones/Content/Upload/
Source/KaraSys/KaraSys/MyConfig/obj/
Source/KaraSys/KaraSys/MyConfig/bin/
Source/PhystonesWebsite/PhystonesWebsite.rar
Source/KaraSys/KaraSys/KaraSys/Content/Theme/web/uploads/
Source/PhystonesWebsite/Phystones/Phystones/Content.rar
Source/PhystonesWebsite/Phystones/Phystones/Phystones.rar
