Source/Admin/Framework/BussinessObject/bin/
Source/Admin/MyAdmin/MyAdmin/bin/
Source/Admin/Framework/Logger/bin/
Source/Admin/Framework/MyCache/bin/
Source/Admin/Framework/MyUtility/bin/
Source/Admin/Framework/WebUtility/bin/
Source/Admin/Framework/WebUtility/obj/
Source/Admin/Framework/MyUtility/obj/
Source/Admin/Framework/MyCache/obj/
Source/Admin/Framework/Logger/obj/
Source/Admin/Framework/Inside/EntitiesObject/obj/
Source/Admin/Framework/Inside/DataAccess/obj/
Source/Admin/Framework/Inside/BusinessObject/bin/
Source/Admin/Framework/Inside/EntitiesObject/bin/
Source/Admin/Framework/Inside/DataAccess/bin/
Source/Admin/Framework/BussinessObject/obj/
Source/Admin/Framework/DataAccessRedis/bin/
Source/Admin/Framework/DataAccess/bin/
Source/Admin/Framework/DataAccess/obj/
Source/Admin/Framework/DataAccessRedis/obj/Debug/DataAccessRedis.dll
Source/Admin/Framework/EntitiesObject/bin/
Source/Admin/Framework/EntitiesObject/obj/
Source/Admin/Framework/Inside/BusinessObject/obj/
