
@{
    ViewBag.Title = "ListData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p class="bs-example bs-baseline-top">
    <button onclick="OpenPopupFull('@Url.Action("SaveData",new { Id = 0})','Quản Lý Portfolio')" type="button" class="btn btn-default btn-icon btn-lg">
        Create
    </button>
</p>
<table class="table table-bordered datatable" id="myTable">
    <tbody></tbody>
</table>
@section scripts{
    <script type="text/javascript">
        var oTable;
        var oTableId = '#myTable';

        var search = function () {
            if ($.fn.dataTable.isDataTable(oTableId)) {
                oTable.destroy();
            }
            oTable = $('#myTable').DataTable({
                "serverSide": true,
                "processing": true,
                "filter": false,
                "lengthMenu": 5,
                "pageLength": 20,
                "ajax": {
                    "url": '@Url.Action("List")',
                    //"data": function (d) {
                    //    d.DateTimeFrom = $('#datetimeBegin').val();
                    //    d.DateTimeTo = $("#datetimeEnd").val();
                    //    d.SearchUserName = $("#mtkornickname").val();
                    //    d.PinOrSerial = $("#PinOrSeri").val();
                    //    d.Status = $("#lctstatus").val();
                    //    d.Amount = $("#Amount").val();
                    //    d.CardType = $("#CardType").val();
                    //},
                    "type": "POST",
                    "dataSrc": function (json) {
                        //console.log(json);
                        //if (!checkRight(json)) {
                        //    json = { iTotalRecords: 0, iTotalDisplayRecords: 0, sEcho: 1, aaData: [] };
                        //}
                        return json.aaData;
                    }
                },
                "drawCallback": function () {
                    $.each($('.make-switch'), function () {
                        $(this).bootstrapSwitch({
                            onText: $(this).data('onText'),
                            offText: $(this).data('offText'),
                            onColor: $(this).data('onColor'),
                            offColor: $(this).data('offColor'),
                            size: $(this).data('size'),
                            labelText: $(this).data('labelText')
                        });
                    });
                },
                "columns": [
                    {
                        "data": "RowNumber",
                        "title": "STT",
                        "orderable": false,
                        "width":20
                    }, {
                        "data": "Name",
                        "title": "Tên",
                        "orderable": false

                    }, {
                        "data": "CategoryPortfolioName",
                        "title": "Vị Trí",
                        "orderable": false

                    },
                    {
                        "data": "Id",
                        "title": "Action",
                        "orderable": false,
                        "render": function (datatemp, type, row, meta) {
                            console.log(row.Id);
                            var html = '<button style="margin-right:15px" type="button" onclick="OpenEdit('+row.Id+')" class="btn btn-green btn-icon icon-left">Edit<i class="entypo-brush"></i>' +
                                '</button ><button type="button" class="btn btn-red btn-icon icon-left">Delete<i class="entypo-cancel"></i></button >';
                            return html;
                        }

                    }
                ],
                "order":
                [
                    [1, "desc"]
                ]
            });
        }
        $(document).ready(function () {
            search();
        });
        var OpenEdit = function (index) {
            OpenPopupFull('@Url.Action("SaveData")?Id=' + index + '', 'Quản Lý Portfolio');
        };
    </script>
}


