<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="UserEntities" connectionString="metadata=res://*/EF.User.csdl|res://*/EF.User.ssdl|res://*/EF.User.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.17.0.20;initial catalog=User;user id=uweb;password=123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LogManagementEntities" connectionString="metadata=res://*/EF.LogManagement.csdl|res://*/EF.LogManagement.ssdl|res://*/EF.LogManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.17.0.20;initial catalog=LogManagement;user id=bancasa;password=@abcd-1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EventManagementEntities" connectionString="metadata=res://*/EF.EventManagement.csdl|res://*/EF.EventManagement.ssdl|res://*/EF.EventManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.17.0.20;initial catalog=EventManagement;user id=uweb;password=123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MembershipEntities" connectionString="metadata=res://*/EF.MetroMembership.csdl|res://*/EF.MetroMembership.ssdl|res://*/EF.MetroMembership.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.5.243;initial catalog=Membership;persist security info=True;user id=bancasa;password=@abcd-1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>