@using Phystones.Content.Texts

@{
    ViewBag.Title = WebContent.Work;
    Layout = "~/Views/Shared/_Layout_Web.cshtml";
    var i = 1;
}
<hr class="grid-2 center mq-mobile">
<div class="grid-10 center">
    <h1 id="tagline">Selected work</h1>
    <h2>Here’s a selection of some of the projects we’ve lovingly crafted over the last few years. If you’d like to see more, <a href="contact.html">just shout</a>.</h2>
</div>
<section class="section slim grid-12 center">
    <div class="custom-form interns-form">
        <fieldset>
            <h2>Category</h2>
            <ul class="clearfix" id="listcateword">
                @foreach (var item in ViewBag.ListCate)
                {
                    <li class="grid-4 alpha form-el" onclick="Worddata(@item.Id)">
                        <label class="custom-radio button buttoncate@(item.Id) @(item.Name =="Both" ? "active":"")" data-type="radio" >
                            <span>@item.Name</span>
                        </label>
                    </li>
                }
            </ul>
        </fieldset>
    </div>
</section>
<section class="section interactive" data-interactive="">
    <div class="list-hex-grid large clearfix" id="temwork">
    </div>
</section>
@section scripts{
    <script id="WorkTemplate" type="text/x-jquery-tmpl">
    <div class="hex grid-4 invert " style="opacity: 1;">
        <a data-toggle="modal" data-target="#myModal${Id}" style="background-image: url('${Image}');" title="${Title}" class="flex">
            <div class="inner" style="opacity: 0;">
                <i class="ss-icon ss-standard huge">👀</i>
                <h3 class="flex">${Title}</h3>
            </div>
            <div class="hex-1"><span class="after" style="opacity: 0;"></span></div>
            <div class="hex-2"><span class="after" style="opacity: 0;"></span></div>
            <span class="after" style="opacity: 0;"></span>
        </a>
    </div>
    <div class="modal fade center" id="#myModal${Id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="modal-content" class="clearfix">
                    <div class="grid-14 alpha omega">
                        <h4 class="tagline h4 text-left">
                            ${Title}
                        </h4>
                    </div>
                    <div class="grid-8 alpha text-left">
                        {{html ContentBody}}
                    </div>
                    <div class="grid-6 omega">
                        <div class="player-hex list-hex-grid large clearfix text-right">
                            <div class="hex grid-4">
                                <a href="#" style="background-image: url('${Image}');">
                                    <div class="hex-1"></div>
                                    <div class="hex-2"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="#" id="modal-close" data-dismiss="modal" class="ss-icon ss-standard">␡</a>
                </div>
            </div>
        </div>
    </div>
    {{if Index == 3 || Index == 7 || Index == 10 || Index == 14 || Index == 17 || Index == 21 || Index == 24 || Index == 28}}
    {{html '<br>'}}
    {{/if}}
</script>
<script type="text/javascript">
    var Worddata = function (index,obj) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DataWork")',
            data: { Type: index },
            dataType: "json",
            success: function (response) {
                if (response != null) {
                    $('#listcateword li .button').removeClass("active");
                    console.log('.buttoncate' + index);
                    $('.buttoncate' + index).addClass("active");
                            $("#temwork").html("");
                            $("#WorkTemplate").tmpl(response).appendTo("#temwork");
                }
            },
            complete: function () {
            }
        });
    };
    $(document).ready(function () {
        Worddata(-1);
    });
</script>
}


@*<section class="section">
        <hr class="grid-2 center">
        <h2>Some people we've worked with</h2>
        <div class="list-hex-grid clearfix mobile-centred-imgs">
            <div class="hex grid-3 quaternary">
                <a href="http://geckoboard.com/">
                    <img src="../Content/Theme/web/uploads/clients/190_110/1220351634.png" alt="Geckoboard" width="190" height="110">
                    <div class="hex-1"></div>
                    <div class="hex-2"></div>
                </a>
            </div>
            <div class="hex grid-3 quaternary">
                <a href="http://www.sonymusic.com/">
                    <img src="../Content/Theme/web/uploads/clients/190_110/1026009187.png" alt="Sony BMG" width="190" height="110">
                    <div class="hex-1"></div>
                    <div class="hex-2"></div>
                </a>
            </div>
            <div class="hex grid-3 quaternary">
                <a href="http://att.com/">
                    <img src="../Content/Theme/web/uploads/clients/190_110/1068595818.png" alt="AT&amp;amp;T" width="190" height="110">
                    <div class="hex-1"></div>
                    <div class="hex-2"></div>
                </a>
            </div>
            <div class="hex grid-3 quaternary">
                <a href="http://clearchannelinternational.com/">
                    <img src="../Content/Theme/web/uploads/clients/190_110/1931891745.png" alt="Clear Channel International" width="190" height="110">
                    <div class="hex-1"></div>
                    <div class="hex-2"></div>
                </a>
            </div>
            <div class="hex grid-3 quaternary">
                <a href="http://hbo.com/">
                    <img src="../Content/Theme/web/uploads/clients/190_110/157006577.png" alt="HBO" width="190" height="110">
                    <div class="hex-1"></div>
                    <div class="hex-2"></div>
                </a>
            </div>
            <div class="hex grid-3 quaternary">
                <a href="http://ilovedust.com/">
                    <img src="../Content/Theme/web/uploads/clients/190_110/1445401117.png" alt="i love dust" width="190" height="110">
                    <div class="hex-1"></div>
                    <div class="hex-2"></div>
                </a>
            </div>
            <div class="hex grid-3 quaternary">
                <a href="http://gettyimages.com/">
                    <img src="../Content/Theme/web/uploads/clients/190_110/1022800601.png" alt="Getty Images" width="190" height="110">
                    <div class="hex-1"></div>
                    <div class="hex-2"></div>
                </a>
            </div>
            <br class="mq-mid mq-small">
            <div class="hex grid-3 quaternary">
                <a href="http://greenpeace.org/">
                    <img src="../Content/Theme/web/uploads/clients/190_110/1105171353.png" alt="Greenpeace" width="190" height="110">
                    <div class="hex-1"></div>
                    <div class="hex-2"></div>
                </a>
            </div>
            <div class="hex grid-3 quaternary">
                <a href="http://www.channel4.com/">
                    <img src="../Content/Theme/web/uploads/clients/190_110/2141427983.png" alt="Channel 4" width="190" height="110">
                    <div class="hex-1"></div>
                    <div class="hex-2"></div>
                </a>
            </div>
            <br class="mq-wide">
            <div class="hex grid-3 quaternary">
                <a href="http://feast.istockphoto.com/">
                    <img src="../Content/Theme/web/uploads/clients/190_110/335980968.png" alt="iStock Feast" width="190" height="110">
                    <div class="hex-1"></div>
                    <div class="hex-2"></div>
                </a>
            </div>
            <div class="hex grid-3 quaternary">
                <a href="http://tedxbrighton.com/">
                    <img src="../Content/Theme/web/uploads/clients/190_110/1618798124.png" alt="TEDxBrighton" width="190" height="110">
                    <div class="hex-1"></div>
                    <div class="hex-2"></div>
                </a>
            </div>
            <div class="hex grid-3 quaternary">
                <a href="http://brightonsource.co.uk/">
                    <img src="../Content/Theme/web/uploads/clients/190_110/2051458395.png" alt="Brighton Source" width="190" height="110">
                    <div class="hex-1"></div>
                    <div class="hex-2"></div>
                </a>
            </div>
            <div class="hex grid-3 quaternary">
                <a href="http://bbdo.com/">
                    <img src="../Content/Theme/web/uploads/clients/190_110/831688196.png" alt="BBDO" width="190" height="110">
                    <div class="hex-1"></div>
                    <div class="hex-2"></div>
                </a>
            </div>
            <div class="hex grid-3 quaternary">
                <a href="http://www.istockphoto.com/">
                    <img src="../Content/Theme/web/uploads/clients/190_110/1449018326.png" alt="iStock Photo" width="190" height="110">
                    <div class="hex-1"></div>
                    <div class="hex-2"></div>
                </a>
            </div>
        </div>
    </section>*@