
<header class="head">
    <div class="search-bar">
        <div class="input-group">
           
        </div>
        <!-- /.main-search -->
    </div>
    <!-- /.search-bar -->
    <div class="main-bar">
        <h3>
            <i class="fa fa-table"></i>&nbsp; @ViewBag.PageName</h3>
    </div>
    <!-- /.main-bar -->
</header>
