@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Web.cshtml";
}
@using KaraSys.Models.Config
@using KaraSys.Models.ContentData
@model ContactConfigModel

<hr class="grid-2 center mq-mobile">
<h1 id="tagline">Contact Buffalo</h1>
<h2 class="grid-10 center">Get in touch with us to get the ball rolling</h2>
<section class="section grid-12 center" id="saveContact">
    @Html.Partial("SendMess",new SendContact())
</section>
<section class="section">
    <ul class="list-icon-items clearfix no-margins">
        <li class="grid-3 secondary alpha">
            <a href="cdn-cgi/l/email-protection.html#2a424f4646456a485f43465e4853485f4c4c4b464504494547">
                <i class="circ large tertiary ss-icon ss-standard">
                    ✉
                    <i class="circ pulse"></i>
                </i>
                <h4 class="secondary">Email</h4>
                <p>
                    <span class="pseudo-link">
                        <span class="__cf_email__">@Model.Email</span>
                    </span>
                </p>
            </a>
        </li>
        <li class="grid-3 secondary">
            <i class="circ large tertiary ss-icon ss-standard">
                📱
                <i class="circ pulse"></i>
            </i>
            <h4 class="secondary">Phone</h4>
            <p class="secondary">@Model.Phone</p>
        </li>
        <li class="grid-3 secondary">
            <a>
                <i class="circ large tertiary ss-icon ss-standard">
                    📝
                    <i class="circ pulse"></i>
                </i>
                <h4 class="secondary">Project planner</h4>
                <p>
                    <span class="pseudo-link">Launch it</span>
                </p>
            </a>
        </li>
        <li class="grid-3 secondary">
            <a href="@Model.Twitter">
                <i class="circ large tertiary ss-icon ss-social">
                    
                    <i class="circ pulse"></i>
                </i>
                <h4 class="secondary">Twitter</h4>
                <p>
                    <span class="pseudo-link">Follow us</span>
                </p>
            </a>
        </li>
        <li class="grid-3 secondary omega">
            <a href="skype:@Model.Skype?call">
                <i class="circ large tertiary ss-icon ss-social">
                    
                    <i class="circ pulse"></i>
                </i>
                <h4 class="secondary">Skype</h4>
                <p>
                    <span class="pseudo-link">Call us</span>
                </p>
            </a>
        </li>
    </ul>
</section>

