<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MetroSystemManagementEntities" connectionString="metadata=res://*/Entity.MetroSystemManagement.csdl|res://*/Entity.MetroSystemManagement.ssdl|res://*/Entity.MetroSystemManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.5.243;initial catalog=SystemManagement;persist security info=True;user id=bancasa;password=@abcd-1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MetroMembershipEntities" connectionString="metadata=res://*/Entity.MetroMembership.csdl|res://*/Entity.MetroMembership.ssdl|res://*/Entity.MetroMembership.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.5.243;initial catalog=Membership;user id=bancasa;password=@abcd-1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MetroUserEntities" connectionString="metadata=res://*/Entity.MetroUser.csdl|res://*/Entity.MetroUser.ssdl|res://*/Entity.MetroUser.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.5.243;initial catalog=User;user id=bancasa;password=@abcd-1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EventManagementEntities" connectionString="metadata=res://*/Entity.MetroEventManagement.csdl|res://*/Entity.MetroEventManagement.ssdl|res://*/Entity.MetroEventManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.5.243;initial catalog=EventManagement;persist security info=True;user id=bancasa;password=@abcd-1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>