@using EntitiesObject.Entities.WebEntities
@{
    ViewBag.Title = "ArticleDetail";
    Layout = "~/Views/Shared/_Layout_Web.cshtml";
}
@model Out_Article_GetByTextId_Result
@if (Model != null)
{
    <hr class="grid-2 center mq-mobile">
    <div class="grid-10 center" id="terms">
        <h1 id="tagline">@Model.Title</h1>
    </div>
        <section class="section text-left">
            @Html.Raw(Model.ContentBody)
            @*<p>This page (together with the documents referred to on it) tells you the terms of use on which you may make use of our website http://www.builtbybuffalo.com (our site), whether as a guest or a registered user. Please read these terms of use carefully before you start to use the site. By using our site, you indicate that you accept these terms of use and that you agree to abide by them. If you do not agree to these terms of use, please refrain from using our site.</p>
                <h3>Information about us</h3>
                <p><a href="index.html">http://builtbybuffalo.com</a> is a site operated by Built by Buffalo Limited ("We").  We are registered in England and Wales under company number 06048231 and have our registered office at 7 Hocombe Road, Chandler&rsquo;s Ford, Eastleigh, Hampshire SO53 5SL.  Our main trading address is Ground Floor, 49 Cheltenham Place, Brighton, BN1 4AB, United Kingdom.  Our VAT number is 899 6307 54.</p>
                <p>We are a limited company.</p>
                <h3>Accessing our site</h3>
                <p>Access to our site is permitted on a temporary basis, and we reserve the right to withdraw or amend the service we provide on our site without notice (see below). We will not be liable if for any reason our site is unavailable at any time or for any period.</p>
                <p>From time to time, we may restrict access to some parts of our site, or our entire site, to users who have registered with us.</p>
                <p>If you choose, or you are provided with, a user identification code, password or any other piece of information as part of our security procedures, you must treat such information as confidential, and you must not disclose it to any third party. We have the right to disable any user identification code or password, whether chosen by you or allocated by us, at any time, if in our opinion you have failed to comply with any of the provisions of these terms of use.</p>
                <p>When using our site, you must comply with the provisions of <a href="#acceptable">our acceptable use policy</a>.</p>
                <p>You are responsible for making all arrangements necessary for you to have access to our site.  You are also responsible for ensuring that all persons who access our site through your internet connection are aware of these terms, and that they comply with them.</p>
                <h3>Intellectual property rights</h3>
                <p>We are the owner or the licensee of all intellectual property rights in our site, and in the material published on it.  Those works are protected by copyright laws and treaties around the world.  All such rights are reserved. </p>
                <p>You may print off one copy, and may download extracts, of any page(s) from our site for your personal reference and you may draw the attention of others within your organisation to material posted on our site.  </p>
                <p>You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text. </p>
                <p>Our status (and that of any identified contributors) as the authors of material on our site must always be acknowledged. </p>
                <p>You must not use any part of the materials on our site for commercial purposes without obtaining a licence to do so from us or our licensors.</p>
                <p>If you print off, copy or download any part of our site in breach of these terms of use, your right to use our site will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.</p>
                <h3>Reliance on information posted</h3>
                <p>Commentary and other materials posted on our site are not intended to amount to advice on which reliance should be placed.  We therefore disclaim all liability and responsibility arising from any reliance placed on such materials by any visitor to our site, or by anyone who may be informed of any of its contents. </p>
                <h3>Our site changes regularly</h3>
                <p>We aim to update our site regularly, and may change the content at any time. If the need arises, we may suspend access to our site, or close it indefinitely. Any of the material on our site may be out of date at any given time, and we are under no obligation to update such material. </p>
                <h3>Our liability</h3>
                <p>The material displayed on our site is provided without any guarantees, conditions or warranties as to its accuracy. To the extent permitted by law, both we and third parties connected to us, hereby expressly exclude:</p>
                <ul>
                    <li>all conditions, warranties and other terms which might otherwise be implied by statute, common law or the law of equity.</li>
                    <li>any liability for any direct, indirect or consequential loss or damage incurred by any user in connection with our site or in connection with the use, inability to use, or results of the use of our site, any websites linked to it and any materials posted on it, including, without limitation any liability for:</li>
                    <li>loss of income or revenue;</li>
                    <li>loss of business;</li>

                    <li>loss of profits or contracts;</li>
                    <li>loss of anticipated savings;</li>
                    <li>loss of data;</li>
                    <li>loss of goodwill;</li>
                    <li>wasted management or office time; and</li>
                    <li>for any other loss or damage of any kind, however arising and whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable, provided that this condition shall not prevent claims for loss of or damage to your tangible property or any other claims for direct financial loss that are not excluded by any of the categories set out above.</li>
                </ul>
                <p>This does not affect our liability for death or personal injury arising from our negligence, nor our liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter, nor any other liability which cannot be excluded or limited under applicable law.</p>
                <h3>Information about you and your visits to our site</h3>
                <p>We process information about you in accordance with our <a href="#privacy">privacy policy</a>.  By using our site, you consent to such processing and you warrant that all data provided by you is accurate. </p>
                <h3>Uploading material to our site</h3>
                <p>From time to time we may add features to our site which allows you to upload material to our site, or to make contact with other users of our site.</p>
                <p>Whenever you make use of these features you must comply with the content standards set out in <a href="#acceptable">our acceptable use policy</a>.  You warrant that any such contribution does comply with those standards, and you indemnify us for any breach of that warranty.  </p>
                <p>Any material you upload to our site will be considered non-confidential and non-proprietary, and we have the right to use, copy, distribute and disclose to third parties any such material for any purpose. We also have the right to disclose your identity to any third party who is claiming that any material posted or uploaded by you to our site constitutes a violation of their intellectual property rights, or of their right to privacy.</p>
                <p>We will not be responsible, or liable to any third party, for the content or accuracy of any materials posted by you or any other user of our site.</p>
                <p>We have the right to remove any material or posting you make on our site if, in our opinion, such material does not comply with the content standards set out in <a href="#acceptable">our acceptable use policy</a>.</p>
                <h3>Viruses, hacking and other offences</h3>
                <p>You must not misuse our site by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to our site, the server on which our site is stored or any server, computer or database connected to our site. You must not attack our site via a denial-of-service attack or a distributed denial-of service attack. </p>
                <p>By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our site will cease immediately.</p>
                <p>We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our site or to your downloading of any material posted on it, or on any website linked to it.</p>
                <h3>Linking to our site</h3>
                <p>You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists. </p>
                <p>You must not establish a link from any website that is not owned by you. </p>
                <p>Our site must not be framed on any other site, nor may you create a link to any part of our site other than the home page. We reserve the right to withdraw linking permission without notice. The website from which you are linking must comply in all respects with the content standards set out in <a href="#acceptable">our acceptable use policy</a>.</p>
                <p>
                    If you wish to make any use of material on our site other than that set out above, please address your request to
                    <a href="cdn-cgi/l/email-protection.html#78101d141417381a0d11140c1a011a0d1e1e191417561b1715">
                        <span class="__cf_email__" data-cfemail="2d45484141426d4f584441594f544f584b4b4c4142034e4240">[email&#160;protected]</span>
                        <script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function (t, e, r, n, c, a, p) { try { t = document.currentScript || function () { for (t = document.getElementsByTagName('script'), e = t.length; e--;)if (t[e].getAttribute('data-cfhash')) return t[e] }(); if (t && (c = t.previousSibling)) { p = t.parentNode; if (a = c.getAttribute('data-cfemail')) { for (e = '', r = '0x' + a.substr(0, 2) | 0, n = 2; a.length - n; n += 2)e += '%' + ('0' + ('0x' + a.substr(n, 2) ^ r).toString(16)).slice(-2); p.replaceChild(document.createTextNode(decodeURIComponent(e)), c) } p.removeChild(t) } } catch (u) { } }()/* ]]> */</script>
                    </a>
                    .
                </p>
                <h3>Links from our site</h3>
                <p>Where our site contains links to other sites and resources provided by third parties, these links are provided for your information only.  We have no control over the contents of those sites or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them.  </p>
                <h3>Jurisdiction and applicable law</h3>
                <p>The English courts will have non-exclusive jurisdiction over any claim arising from, or related to, a visit to our site.  </p>
                <p>These terms of use and any dispute or claim arising out of or in connection with them or their subject matter or formation (including non-contractual disputes or claims) shall be governed by and construed in accordance with the laws of England and Wales.</p>
                <h3>Variations</h3>
                <p>We may revise these terms of use at any time by amending this page. You are expected to check this page from time to time to take notice of any changes we made, as they are binding on you. Some of the provisions contained in these terms of use may also be superseded by provisions or notices published elsewhere on our site.</p>
                <h3>Your concerns</h3>
                <p>
                    If you have any concerns about material which appears on our site, please contact
                    <a href="cdn-cgi/l/email-protection.html#4f272a2323200f2d3a26233b2d362d3a29292e2320612c2022">
                        <span class="__cf_email__" data-cfemail="563e333a3a391634233f3a22342f34233030373a397835393b">[email&#160;protected]</span>
                        <script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function (t, e, r, n, c, a, p) { try { t = document.currentScript || function () { for (t = document.getElementsByTagName('script'), e = t.length; e--;)if (t[e].getAttribute('data-cfhash')) return t[e] }(); if (t && (c = t.previousSibling)) { p = t.parentNode; if (a = c.getAttribute('data-cfemail')) { for (e = '', r = '0x' + a.substr(0, 2) | 0, n = 2; a.length - n; n += 2)e += '%' + ('0' + ('0x' + a.substr(n, 2) ^ r).toString(16)).slice(-2); p.replaceChild(document.createTextNode(decodeURIComponent(e)), c) } p.removeChild(t) } } catch (u) { } }()/* ]]> */</script>
                    </a>
                    .
                </p>
                <p>Thank you for visiting our site.</p>
                <h2 id="privacy">Privacy Policy</h2>
                <p>Built By Buffalo Limited ("We") are committed to protecting and respecting your privacy.</p>
                <p>This policy (together with <a href="#terms">our terms of use</a> and any other documents referred to on it) sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us.  Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it.</p>
                <p>For the purpose of the Data Protection Act 1998 (the Act), the data controller is Daniel Griffiths of Ground Floor, 49 Cheltenham Place, Brighton, BN1 4AB, United Kingdom.</p>
                <h3>Information we may collect from you</h3>
                <p>We may collect and process the following data about you:</p>
                <ul>
                    <li>Information that you provide by filling in forms on our site http://builtbybuffalo.com (our site). This includes information provided at the time of registering to use our site, subscribing to our service, posting material or requesting further services. We may also ask you for information when you report a problem with our site.</li>
                    <li>If you contact us, we may keep a record of that correspondence.</li>
                    <li>Details of your visits to our site including, but not limited to, traffic data, location data, weblogs and other communication data, whether this is required for our own billing purposes or otherwise and the resources that you access. </li>
                </ul>
                <h3>IP addresses</h3>
                <p>We may collect information about your computer, including where available your IP address, operating system and browser type, for system administration and to report aggregate information to our advertisers. This is statistical data about our users' browsing actions and patterns, and does not identify any individual.</p>
                <h3>Cookies</h3>
                <p>Our website uses cookies to distinguish you from other users of our website. This helps us to provide you with a good experience when you browse our website and also allows us to improve our site. </p>
                <h3>Where we store your personal data</h3>
                <p>The data that we collect from you may be transferred to, and stored at, a destination outside the European Economic Area ("EEA"). It may also be processed by staff operating outside the EEA who work for us or for one of our suppliers. By submitting your personal data, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this privacy policy.</p>
                <p>All information you provide to us is stored on our secure servers. Where we have given you (or where you have chosen) a password which enables you to access certain parts of our site, you are responsible for keeping this password confidential. We ask you not to share a password with anyone.</p>
                <p>Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our site; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access.</p>
                <h3>Uses made of the information</h3>
                <p>We use information held about you in the following ways:</p>
                <ul>
                    <li>To ensure that content from our site is presented in the most effective manner for you and for your computer. </li>
                    <li>To provide you with information, products or services that you request from us or which we feel may interest you, where you have consented to be contacted for such purposes. </li>
                    <li>To carry out our obligations arising from any contracts entered into between you and us.</li>
                    <li>To allow you to participate in interactive features of our service, when you choose to do so.</li>
                    <li>To notify you about changes to our service.</li>
                </ul>
                <p>We may also use your data, or permit selected third parties to use your data, to provide you with information about goods and services which may be of interest to you and we or they may contact you about these.. </p>
                <h3>Disclosure of your information</h3>
                <p>We may disclose your personal information to third parties:</p>
                <ul>
                    <li>In the event that we sell or buy any business or assets, in which case we may disclose your personal data to the prospective seller or buyer of such business or assets.</li>
                    <li>If Built By Buffalo Limited or substantially all of its assets are acquired by a third party, in which case personal data held by it about its customers will be one of the transferred assets.</li>
                    <li>If we are under a duty to disclose or share your personal data in order to comply with any legal obligation, or in order to enforce or apply our <a href="#terms">terms of use</a> and other agreements; or to protect the rights, property, or safety of Built By Buffalo Limited, our customers, or others. This includes exchanging information with other companies and organisations for the purposes of fraud protection and credit risk reduction.</li>
                </ul>
                <h3>Your rights</h3>
                <p>
                    You have the right to ask us not to process your personal data for marketing purposes. We will usually inform you (before collecting your data) if we intend to use your data for such purposes or if we intend to disclose your information to any third party for such purposes. You can exercise the right at any time by contacting us at <a class="__cf_email__" href="cdn-cgi/l/email-protection.html" data-cfemail="2b434e4747446b495e42475f4952495e4d4d4a47440548444605">[email&#160;protected]</a>
                    <script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function (t, e, r, n, c, a, p) { try { t = document.currentScript || function () { for (t = document.getElementsByTagName('script'), e = t.length; e--;)if (t[e].getAttribute('data-cfhash')) return t[e] }(); if (t && (c = t.previousSibling)) { p = t.parentNode; if (a = c.getAttribute('data-cfemail')) { for (e = '', r = '0x' + a.substr(0, 2) | 0, n = 2; a.length - n; n += 2)e += '%' + ('0' + ('0x' + a.substr(n, 2) ^ r).toString(16)).slice(-2); p.replaceChild(document.createTextNode(decodeURIComponent(e)), c) } p.removeChild(t) } } catch (u) { } }()/* ]]> */</script>
                </p>
                <p>Our site may, from time to time, contain links to and from the websites of our partner networks, advertisers and affiliates.  If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies.  Please check these policies before you submit any personal data to these websites.</p>
                <h3>Access to information</h3>
                <p>The Act gives you the right to access information held about you. Your right of access can be exercised in accordance with the Act. Any access request may be subject to a fee of &pound;10 to meet our costs in providing you with details of the information we hold about you.</p>
                <h3>Changes to our privacy policy</h3>
                <p>Any changes we may make to our privacy policy in the future will be posted on this page and, where appropriate, notified to you by e-mail.</p>
                <h3>Contact</h3>
                <p>
                    Questions, comments and requests regarding this privacy policy are welcomed and should be addressed to <a class="__cf_email__" href="cdn-cgi/l/email-protection.html" data-cfemail="345c5158585b7456415d5840564d5641525255585b1a575b591a">[email&#160;protected]</a>
                    <script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function (t, e, r, n, c, a, p) { try { t = document.currentScript || function () { for (t = document.getElementsByTagName('script'), e = t.length; e--;)if (t[e].getAttribute('data-cfhash')) return t[e] }(); if (t && (c = t.previousSibling)) { p = t.parentNode; if (a = c.getAttribute('data-cfemail')) { for (e = '', r = '0x' + a.substr(0, 2) | 0, n = 2; a.length - n; n += 2)e += '%' + ('0' + ('0x' + a.substr(n, 2) ^ r).toString(16)).slice(-2); p.replaceChild(document.createTextNode(decodeURIComponent(e)), c) } p.removeChild(t) } } catch (u) { } }()/* ]]> */</script>
                </p>
                <h2 id="acceptable">Acceptable Use Policy</h2>
                <p>This acceptable use policy sets out the terms between you and us under which you may access our website http://builtbybuffalo.com (our site). This acceptable use policy applies to all users of, and visitors to, our site.</p>
                <p>Your use of our site means that you accept, and agree to abide by, all the policies in this acceptable use policy, which supplement <a href="#terms">our terms of website use</a>.</p>
                <p><a href="index.html">http://builtbybuffalo.com</a> is a site operated by Built By Buffalo Limited (we or us).  We are registered in England and Wales under company number 06048231 and we have our registered office at 7 Hocombe Road, Chandler&rsquo;s Ford, Eastleigh, Hampshire SO53 5SL.  Our main trading address is Ground Floor, 49 Cheltenham Place, Brighton, BN1 4AB, United Kingdom. Our VAT number is 899 6307 54</p>
                <h3>Prohibited uses</h3>
                <p>You may use our site only for lawful purposes.  You may not use our site:</p>
                <ul>
                    <li>in any way that breaches any applicable local, national or international law or regulation;</li>
                    <li>in any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect;</li>
                    <li>for the purpose of harming or attempting to harm minors in any way;</li>
                    <li>to send, knowingly receive, upload, download, use or re-use any material which does not comply with our content standards;</li>
                    <li>to transmit, or procure the sending of, any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation (spam); or</li>
                    <li>to knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware.</li>
                </ul>
                <p>You also agree:</p>
                <ul>
                    <li>not to reproduce, duplicate, copy or re-sell any part of our site in contravention of the provisions of <a href="#terms">our terms of website use</a>;</li>
                    <li>
                        not to access without authority, interfere with, damage or disrupt:
                        <ul>
                            <li>any part of our site;</li>
                            <li>any equipment or network on which our site is stored;</li>
                            <li>any software used in the provision of our site; or </li>
                            <li>any equipment or network or software owned or used by any third party.</li>
                        </ul>
                    </li>
                </ul>
                <h3>Interactive services</h3>
                <p>We may from time to time provide interactive services on our site (interactive services).</p>
                <p>Where we do provide any interactive service, we will provide clear information to you about the kind of service offered, if it is moderated and what form of moderation is used (including whether it is human or technical).</p>
                <p>We will do our best to assess any possible risks for users (and in particular, for children) from third parties when they use any interactive service provided on our site, and we will decide in each case whether it is appropriate to use moderation of the relevant service (including what kind of moderation to use) in the light of those risks. However, we are under no obligation to oversee, monitor or moderate any interactive service we provide on our site, and we expressly exclude our liability for any loss or damage arising from the use of any interactive service by a user in contravention of our content standards, whether the service is moderated or not. </p>
                <p>The use of any of our interactive services by a minor is subject to the consent of their parent or guardian. We advise parents who permit their children to use an interactive service that it is important that they communicate with their children about their safety online, as moderation is not foolproof. Minors who are using any interactive service should be made aware of the potential risks to them. </p>
                <p>Where we do moderate an interactive service, we will normally provide you with a means of contacting the moderator, should a concern or difficulty arise.</p>
                <h3 id="content-standards">Content standards</h3>
                <p>These content standards apply to any and all material which you contribute to our site (contributions), and to any interactive services associated with it. </p>
                <p>You must comply with the spirit of the following standards as well as the letter. The standards apply to each part of any contribution as well as to its whole.</p>
                <p>Contributions must:</p>
                <ul>
                    <li>be accurate (where they state facts);</li>
                    <li>be genuinely held (where they state opinions);</li>
                    <li>comply with applicable law in the UK and in any country from which they are posted.</li>
                </ul>
                <p>Contributions must not:</p>
                <ul>
                    <li>contain any material which is defamatory of any person;</li>
                    <li>contain any material which is obscene, offensive, hateful or inflammatory;</li>
                    <li>promote sexually explicit material;</li>
                    <li>promote violence;</li>
                    <li>promote discrimination based on race, sex, religion, nationality, disability, sexual orientation or age;</li>
                    <li>infringe any copyright, database right or trade mark of any other person;</li>
                    <li>be likely to deceive any person;</li>
                    <li>be made in breach of any legal duty owed to a third party, such as a contractual duty or a duty of confidence;</li>
                    <li>promote any illegal activity;</li>
                    <li>be threatening, abuse or invade another's privacy, or cause annoyance, inconvenience or needless anxiety;</li>
                    <li>be likely to harass, upset, embarrass, alarm or annoy any other person;</li>
                    <li>be used to impersonate any person, or to misrepresent your identity or affiliation with any person;</li>
                    <li>give the impression that they emanate from us, if this is not the case; or</li>
                    <li>advocate, promote or assist any unlawful act such as (by way of example only) copyright infringement or computer misuse.</li>
                </ul>
                <h3>Suspension and termination</h3>
                <p>We will determine, in our discretion, whether there has been a breach of this acceptable use policy through your use of our site.  When a breach of this policy has occurred, we may take such action as we deem appropriate.  </p>
                <p>Failure to comply with this acceptable use policy constitutes a material breach of <a href="#terms">the terms of use</a> upon which you are permitted to use our site, and may result in our taking all or any of the following actions:</p>
                <ul>
                    <li>immediate, temporary or permanent withdrawal of your right to use our site;</li>
                    <li>immediate, temporary or permanent removal of any posting or material uploaded by you to our site;</li>
                    <li>issue of a warning to you;</li>
                    <li>legal proceedings against you for reimbursement of all costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs) resulting from the breach;</li>
                    <li>further legal action against you;</li>
                    <li>disclosure of such information to law enforcement authorities as we reasonably feel is necessary.</li>
                </ul>
                <p>We exclude liability for actions taken in response to breaches of this acceptable use policy.  The responses described in this policy are not limited, and we may take any other action we reasonably deem appropriate.</p>
                <h3>Changes to the acceptable use policy</h3>
                <p>We may revise this acceptable use policy at any time by amending this page. You are expected to check this page from time to time to take notice of any changes we make, as they are legally binding on you. Some of the provisions contained in this acceptable use policy may also be superseded by provisions or notices published elsewhere on our site.</p>*@
        </section>

}

