@using KaraSys.Models.Config
@model ContactConfigModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-body" id="saveConfig">
     @Html.Partial("ConfigContact",Model)
    </div>
</div>
