@{
    ViewBag.Title = WebContent.Contact;
    Layout = "~/Views/Shared/_Layout_Web.cshtml";
}
@using Phystones.Content.Texts
@using Phystones.Models.ContentData
@model BusinessObject.WebModule.Models.Config.ContactConfigModel

<hr class="grid-2 center mq-mobile">
<h1 id="tagline">Contact Buffalo</h1>
<h2 class="grid-10 center">Get in touch with us to get the ball rolling</h2>
<section class="section grid-12 center" id="saveContact">
    @Html.Partial("SendMess",new SendContact())
</section>

