<?xml version="1.0" encoding="utf-8" ?>
<MyConfig>
  <Default FullDomain="http://localhost:2968/" ShortDomain="localhost" IsBeta="false"
           HostName="http://localhost:2968" ImageHost="https://localhost:44301/" />
<Article BaseUrl="/Content/Images/" BaseDir="D:\WEB\P111Web\BanCa\Inside\InsideBanCa\Content\Images\" />
  <DomainList>
    <add Name="caloncabe.com"/>
    <add Name="localhost"/>
  </DomainList>

  <Seo>
    <add Title="Cá Lớn Cá Bé" Link="/" Description="Cá Lớn Cá Bé" Keyword="ca lon ca be"></add>
  </Seo>

  <!-- List game hiển thị trên trang chủ -->
  <GameInfo>
    <add GameId="300" Name="Cá lớn cá bé" Alias="ca-lon-ca-be"
         ImageUrl=""
         OrderNo="1" IsEnable="true" TopMenuOrderNo="2" TopMenuIsEnable="true" TutorialOrderNo="3" TutorialIsEnable="true"/>
  </GameInfo>

  <Game GameLoader="GameLoader.swf" PathGameLoader30="GameLoader30.swf" PathGameLoader40="PreLoader.swf" BeginTimeLockBet="18:00:00" EndTimeLockBet= "19:30:00"/>
  <!-- List game hiển thị trên trang chủ End -->

  <!-- Authentication Start -->
  <GoogleOpenAuth Url="https://accounts.google.com/o/oauth2/auth"
                  Scope="https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email"
                  ReturnUrl="http://caloncabeqc.com/dang-nhap/xac-nhan/google"
                  ClientId="" />
  <FacebookOpenAuth AppId="916108225123826"
                  ReturnUrl="/dang-nhap/xac-nhan/facebook"
                  AppSecret="ee6a66ff10ef46a40cda805422af3ec9"
                  AppLink="https://apps.facebook.com/"
                  Scope="public_profile,email,user_friends"  />
  <YahooOpenAuth ReturnUrl="/dang-nhap/xac-nhan/yahoo" />
  <!-- Authentication End -->

  <!--Cấu hình email đăng ký SubString=độ dài ccủa nickname-->
  <EmailRegisterConfig First="web" Last="@caloncabe.com" SubString="30"  />
  <Email SmtpServer="smtp.gmail.com" SmtpServerPort="587" IsEnableSSL="true" IsOnForgetPassWord="false"
         MailInvitationUserName="caloncabe2015@gmail.com" MailInvitationPassword="@@@abcd-1234"
         MailForgetUserName="caloncabe2015@gmail.com" MailForgetPassword="@@@abcd-1234"/>

  <!-- Blacklist Start -->
  <NicknameBlacklist>
    <add Name="admin"/>
  </NicknameBlacklist>
  <PasswordBlacklist>
    <add Name="admin"/>
    <add Name="123456" Type="1"/>
    <add Name="123123" Type="1"/>
  </PasswordBlacklist>
  <!-- Blacklist End -->

  <!-- nap gold -->
  <Deposit IsTestDeposit="true"></Deposit>
  <NganLuong UrlSuccessReturn="http://localhost:2966/thanh-toan/nganluong/success/{token}?act=success"
                    UrlCancelReturn="http://localhost:2966/thanh-toan/ngan-luong?act=cancel"></NganLuong>
  <!-- end nap gold -->

  <PasswordSalt Enable="true" />
  <Channel>
    <add UtmSource="localhost" ChannelId="50" SubChannelId="510"/>
  </Channel>
  <!--Tích sao card-->
  <Card IsApprovalExchangeCard="true">
    <add Enable="true" Id="1" Name="viettel_10" Quantity="0" CardType="Viettel" Amount="10000" ValueExchange="12500" ImageUrl="/Content/Theme/Default/img/card_mobi.png"/>
    <add Enable="true" Id="2" Name="viettel_20" Quantity="0" CardType="Viettel" Amount="20000" ValueExchange="25000" ImageUrl="/Content/Images/Events/TichSaoDoiQua/viettel_20.png"/>
    <add Enable="true" Id="4" Name="viettel_50" Quantity="0" CardType="Viettel" Amount="50000" ValueExchange="62500" ImageUrl="/Content/Images/Events/TichSaoDoiQua/viettel_50.png"/>
    <add Enable="true" Id="5" Name="viettel_100" Quantity="0" CardType="Viettel" Amount="100000" ValueExchange="125000" ImageUrl="/Content/Images/Events/TichSaoDoiQua/viettel_100.png"/>
    <add Enable="true" Id="6" Name="viettel_200" Quantity="0" CardType="Viettel" Amount="200000" ValueExchange="250000" ImageUrl="/Content/Images/Events/TichSaoDoiQua/viettel_100.png"/>
    <add Enable="true" Id="7" Name="viettel_500" Quantity="0" CardType="Viettel" Amount="500000" ValueExchange="625000" ImageUrl="/Content/Images/Events/TichSaoDoiQua/viettel_100.png"/>

    <add Enable="true" Id="25" Name="mobi_10" Quantity="0" CardType="Mobifone" Amount="10000" ValueExchange="12500" ImageUrl="/Content/Theme/Default/img/card_mobi.png"/>
    <add Enable="true" Id="26" Name="mobi_20" Quantity="0" CardType="Mobifone" Amount="20000" ValueExchange="25000" ImageUrl="/Content/Theme/Default/img/card_mobi.png"/>
    <add Enable="true" Id="28" Name="mobi_50" Quantity="0" CardType="Mobifone" Amount="50000" ValueExchange="62500" ImageUrl="/Content/Theme/Default/img/card_mobi.png"/>
    <add Enable="true" Id="29" Name="mobi_100" Quantity="0" CardType="Mobifone" Amount="100000" ValueExchange="125000" ImageUrl="/Content/Theme/Default/img/card_mobi.png"/>
    <add Enable="true" Id="30" Name="mobi_200" Quantity="0" CardType="Mobifone" Amount="200000" ValueExchange="250000" ImageUrl="/Content/Theme/Default/img/card_mobi.png"/>
    <add Enable="true" Id="31" Name="mobi_500" Quantity="0" CardType="Mobifone" Amount="500000" ValueExchange="625000" ImageUrl="/Content/Theme/Default/img/card_mobi.png"/>

    <add Enable="true" Id="17" Name="vina_10" Quantity="0" CardType="Vinaphone" Amount="10000" ValueExchange="12500" ImageUrl="/Content/Images/Events/TichSaoDoiQua/vina_10.png"/>
    <add Enable="true" Id="18" Name="vina_20" Quantity="0" CardType="Vinaphone" Amount="20000" ValueExchange="25000" ImageUrl="/Content/Images/Events/TichSaoDoiQua/vina_20.png"/>
    <add Enable="true" Id="20" Name="vina_50" Quantity="0" CardType="Vinaphone" Amount="50000" ValueExchange="62500" ImageUrl="/Content/Images/Events/TichSaoDoiQua/vina_50.png"/>
    <add Enable="true" Id="21" Name="vina_100" Quantity="0" CardType="Vinaphone" Amount="100000" ValueExchange="125000" ImageUrl="/Content/Images/Events/TichSaoDoiQua/vina_100.png"/>
    <add Enable="true" Id="22" Name="vina_200" Quantity="0" CardType="Vinaphone" Amount="200000" ValueExchange="250000" ImageUrl="/Content/Images/Events/TichSaoDoiQua/vina_100.png"/>
    <add Enable="true" Id="23" Name="vina_500" Quantity="0" CardType="Vinaphone" Amount="500000" ValueExchange="625000" ImageUrl="/Content/Images/Events/TichSaoDoiQua/vina_100.png"/>

    <add Enable="true" Id="32" Name="bit_100" Quantity="0" CardType="BIT" Amount="100000" ValueExchange="110000" ImageUrl="/Content/Images/Events/TichSaoDoiQua/vina_100.png"/>
    <add Enable="true" Id="33" Name="bit_200" Quantity="0" CardType="BIT" Amount="200000" ValueExchange="220000" ImageUrl="/Content/Images/Events/TichSaoDoiQua/vina_100.png"/>
    <add Enable="true" Id="35" Name="bit_300" Quantity="0" CardType="BIT" Amount="300000" ValueExchange="330000" ImageUrl="/Content/Images/Events/TichSaoDoiQua/vina_100.png"/>
    <add Enable="true" Id="38" Name="bit_500" Quantity="0" CardType="BIT" Amount="500000" ValueExchange="550000" ImageUrl="/Content/Images/Events/TichSaoDoiQua/vina_100.png"/>
    <add Enable="true" Id="34" Name="bit_1000" Quantity="0" CardType="BIT" Amount="1000000" ValueExchange="1100000" ImageUrl="/Content/Images/Events/TichSaoDoiQua/vina_100.png"/>
    <add Enable="true" Id="36" Name="bit_2000" Quantity="0" CardType="BIT" Amount="2000000" ValueExchange="2200000" ImageUrl="/Content/Images/Events/TichSaoDoiQua/vina_100.png"/>
    <add Enable="true" Id="37" Name="bit_5000" Quantity="0" CardType="BIT" Amount="5000000" ValueExchange="5500000" ImageUrl="/Content/Images/Events/TichSaoDoiQua/vina_100.png"/>
  </Card>
  <!--End Tích sao card-->
 
  <!--Notification-->
  <!--End notification-->
  
  <!-- Redis -->
  <!--<Redis Host="192.168.5.135:9001" Password="123456" />-->
  <!-- End Redis -->
</MyConfig>
