@using Phystones.Content.Texts

@{
    ViewBag.Title = WebContent.Blog;
    Layout = "~/Views/Shared/_Layout_Web.cshtml";
}
<h1 id="tagline">Buffalo feed</h1>
<div class="container blogdata" style="margin-top:40px;">
    <div class="row" id="listbog">
    </div>
</div>
<section class="section grid-14 center" id="page"></section>
@section scripts{
    <script id="BlogTemplate" type="text/x-jquery-tmpl">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <a href="${LinkDetail}">
                    <img src="${ImageLink}" class="img-responsive img-box img-thumbnail image-blog">
                </a>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9">
                <h4><a href="${LinkDetail}">${Title}</a></h4>
                <p>{{html ContentBody}}</p>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        var AllBlog = function (pageindex) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DataBlog")',
                data: { StartIndex: pageindex },
                dataType: "json",
                success: function (response) {
                    if (response != null) {
                        if (response.Data != null) {
                            $("#listbog").html("");
                            $("#BlogTemplate").tmpl(response.Data).appendTo("#listbog");
                            var html = CreatePaging(pageindex, response.TotalItem, 5, 5, "AllBlog");
                                $("#page").html(html);
                        }
                    }
                },
                complete: function () {
                }
            });
        };
        $(document).ready(function () {
            AllBlog(1);
        });
    </script>
}
