
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Web.cshtml";
}
<hr class="grid-2 center mq-mobile">
<div class="grid-10 center">
    <h1 id="tagline">Work at Buffalo</h1>
    <h2>We are a small but perfectly formed creative web agency based in Brighton. We have been making pretty things online since 2006 and are always on the lookout for like-minded people.</h2>
    <p class="large">We will give you a chance to work on some great projects and develop your skills in exchange for dedication in doing what you love. You will join a culture that doesn't obsess about how many days holiday you have left and rewards people for their efforts.</p>
    <p class="large">Fresh fruit, regular lunches, soft drinks and great Small Batch Coffee are provided on demand. We have an ongoing Ping Pong league, organise decent field trips and set aside time so you can develop personal projects.</p>
    <p class="large">We also provide things like a <a href="http://www.apple.com/mac/">Mac</a>, nice <a href="http://www.hermanmiller.com/content/hermanmiller/english/products/categories/seating/performance-work-chairs/aeron-chairs.html">Aeron chair</a>, <a href="http://www.apple.com/iphone/">iPhone</a> and anything else you need to do the job. We use Macs, but you'll be free to use whatever you want to get the job done.</p>
</div>
<section class="section grid-10 center">
    <hr class="grid-2 center">
    <h2>We're all good right now</h2>
    <p>However, if you think you're just that good, get in touch. We're always looking for awesome new people to work with.</p>
    <div class="list-hex-grid mid">
        <div class="hex grid-3 primary">
            <div>
                <div class="inner">
                    <p class="h5">No agencies ever</p>
                    <hr class="grid-1 center">
                    <h3>Seriously, don't even bother</h3>
                </div>
                <div class="hex-1"></div>
                <div class="hex-2"></div>
            </div>
        </div>
    </div>
</section>
<section class="section grid-10 center">
    <hr class="grid-2 center">
    <h2>Interns</h2>
    <ul class="list-jobs">
        <li>
            <p class="large">We love talented interns and since 2013 we have offered an internship programme.</p>
            <br>
            <a href="interns.html" class="button secondary">Find out more</a>
        </li>
    </ul>
</section>
<section class="section">
    <hr class="grid-2 center">
    <h2>Buffalo snaps</h2>
    <div class="list-hex-grid large list-inline-block clearfix">
        <div class="hex grid-4">
            <div style="background-image: url(../Content/Theme/web/uploads/images/300/1699105459.jpg);">
                <div class="hex-1"></div>
                <div class="hex-2"></div>
            </div>
        </div>
        <div class="hex grid-4">
            <div style="background-image: url(../Content/Theme/web/uploads/images/300/287240337.jpg);">
                <div class="hex-1"></div>
                <div class="hex-2"></div>
            </div>
        </div>
        <div class="hex grid-4">
            <div style="background-image: url(../Content/Theme/web/uploads/images/300/1156840592.jpg);">
                <div class="hex-1"></div>
                <div class="hex-2"></div>
            </div>
        </div>
        <div class="hex grid-4">
            <div style="background-image: url(../Content/Theme/web/uploads/images/300/103577049.jpg);">
                <div class="hex-1"></div>
                <div class="hex-2"></div>
            </div>
        </div>
        <div class="hex grid-4">
            <div style="background-image: url(../Content/Theme/web/uploads/images/300/1151743072.jpg);">
                <div class="hex-1"></div>
                <div class="hex-2"></div>
            </div>
        </div>
        <div class="hex grid-4">
            <div style="background-image: url(../Content/Theme/web/uploads/images/300/387817557.jpg);">
                <div class="hex-1"></div>
                <div class="hex-2"></div>
            </div>
        </div>
        <div class="hex grid-4">
            <div style="background-image: url(../Content/Theme/web/uploads/images/300/1123628215.jpg);">
                <div class="hex-1"></div>
                <div class="hex-2"></div>
            </div>
        </div>
    </div>
</section>

