<?xml version="1.0" encoding="utf-8" ?>
<MyConfig>
  <Default IsCheckPermission="true"  ImageHost="http://10.17.0.20:8003/" ApiFullDomain="http://localhost:23726/"/>
  <Article MapPath="C:\Users\ALO\Desktop\News\News\News\Content\File\ImageArtcle\" BaseUrl="~\Content\File\ImageArtcle\" BaseDir="C:\Users\ALO\Desktop\News\News\News\Content\File\ImageArtcle" />
  <Mail Port="587" HostMail="smtp.zoho.com"
        SendingMail="contact@phystones.com"
        SendingMailName="Phystones JSC" SendingMailTitle="Có thông tin liên hệ từ {0}"
        SendingMail2="YWJjZDEyMzQ=" ReceiveMails="contact@phystones.com"
  />
</MyConfig>
